<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bộ flashcard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <div class="d-flex">
        <div th:replace="~{fragments/sidebar :: sidebar('flashcardsets')}"></div>
        <div style="flex: 1" class="d-flex flex-column pt-3 px-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="d-flex align-items-center gap-2">
                    <div class="btn-group">
                        <a th:href="'/flash-card-sets?mode=all'" th:class="'btn btn-primary ' + ${mode == 'all' ? 'active' : ''}">Tất cả</a>
                        <a th:href="'/flash-card-sets?mode=vocabulary'" th:class="'btn btn-primary ' + ${mode == 'vocabulary' ? 'active' : ''}">Từ vựng</a>
                        <a th:href="'/flash-card-sets?mode=grammar'" th:class="'btn btn-primary ' + ${mode == 'grammar' ? 'active' : ''}">Ngữ pháp</a>
                        <a th:href="'/flash-card-sets?mode=favorite'" th:class="'btn btn-primary ' + ${mode == 'favorite' ? 'active' : ''}">Yêu thích</a>
                    </div>
                    <a th:href="@{flash-card-set/create}" class="btn btn-success">
                        <i class="bi bi-plus-lg"></i>
                        Thêm mới
                    </a>
                </div>
                <form class="d-flex" th:action="@{/flash-card-sets}" method="get">
                    <input style="width: 300px;" class="form-control me-2" type="text" name="searchKey" th:value="${searchKey}" placeholder="Nhập tên bộ flash card...">
                    <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
            <div style="flex: 1" class="d-flex flex-column justify-content-between" th:if="${numberOfPages > 0}">
                <div class="d-flex flex-wrap gap-3">
                    <div th:each="flashCardSet : ${flashCardSets}" th:object="${flashCardSet}" class="card" style="width: 18rem;">
                        <img th:if="*{image == null}" style="height: 120px; object-fit: cover" th:src="@{'/images/default-flash-card-set-image.png'}" class="card-img-top" alt="">
                        <img th:if="*{image != null}" style="height: 120px; object-fit: cover" th:src="*{image}" class="card-img-top" alt="">
                        <div class="card-body d-flex flex-column">
                            <p th:text="*{name}" class="card-title" style="font-weight: bold"></p>
                            <p>
                                <span th:if="*{isPublic}" class="badge bg-success">
                                        <i class="bi bi-globe me-1"></i> Công khai
                                </span>
                                <span th:unless="*{isPublic}" class="badge bg-secondary">
                                        <i class="bi bi-lock-fill me-1"></i> Riêng tư
                                </span>
                            </p>
                            <p style="color: gray; font-size: 13px" class="card-text mt-auto">
                                <i class="bi bi-clock"></i>
                                <span th:text="'Ngày sửa: ' + *{#temporals.format(modifiedDate, 'dd-MM-yyyy HH:mm:ss')}"></span>
                            </p>
                            <div class="d-flex justify-content-between gap-2">
                                <a th:href="@{'/flash-card-set/' + ${flashCardSet.id} + '/flash-cards'}" class="btn btn-primary" style="flex: 1">Xem chi tiết</a>
                                <div th:if="*{!isFavorite}" class="dropdown">
                                    <a class="btn btn-secondary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots"></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li th:if="*{isPublic}"><a class="dropdown-item" th:href="@{'/flash-card-set/update-share-status/' + *{id} + '?status=0'}">Thiết lập riêng tư</a></li>
                                        <li th:unless="*{isPublic}"><a class="dropdown-item" th:href="@{'/flash-card-set/update-share-status/' + *{id} + '?status=1'}">Thiết lập công khai</a></li>
                                        <li><a class="dropdown-item" th:href="@{'/flash-card-set/edit/' + *{id}}">Chỉnh sửa thông tin</a></li>
                                        <li><a class="dropdown-item link-danger" th:href="'/flash-card-set/delete/' + *{id}" onclick="return confirm('Bạn có chắc chắn muốn xóa bộ flash card này?')">Xóa</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav>
                    <ul class="pagination">
                        <li th:each="i : ${#numbers.sequence(1, numberOfPages)}" th:class="'page-item ' + ${i == page ? 'active' : ''}">
                            <a class="page-link" th:href="@{'/flash-card-sets?' + ${searchKey != null ? 'searchKey=' + searchKey : 'mode=' + mode} + '&page=' + ${i}}" th:text="${i}"></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div th:if="${numberOfPages == 0}">
                <span>Không tồn tại bộ flash card nào</span>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script th:if="${message}" th:inline="javascript">
        Toastify({
            text: [[${message}]],
            duration: 3000,
            gravity: "top",
            position: "right",
            stopOnFocus: true,
            style: {
                background: "#198754",
                zIndex: 9999,
                boxShadow: "0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)"
            }
        }).showToast();
    </script>
</body>
</html>