<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thông tin cá nhân</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>
<body>
    <div class="d-flex">
        <div th:replace="~{/fragments/sidebar :: sidebar('')}"></div>
        <div>
            <form th:object="${user}">
                <div>
                    <label th:for="name">Họ và tên</label>
                    <input th:field="*{name}" readonly>
                </div>
                <div>
                    <label th:for="email">Email</label>
                    <input th:field="*{email}" readonly>
                </div>
                <div>
                    <label th:for="phoneNumber">Số điện thoại</label>
                    <input th:field="*{phoneNumber}" readonly>
                </div>
                <div>
                    <label th:for="dateOfBirth">Ngày sinh</label>
                    <input type="date" th:value="*{#temporals.format(dateOfBirth, 'yyyy-MM-dd')}" readonly>
                </div>
                <div>
                    <label>Giới tính</label>
                    <div>
                        <input type="radio" name="isMale" id="male" th:field="*{isMale}" value="true" autocomplete="off" disabled>
                        <label for="male"><i class="fa-solid fa-mars"></i> Nam</label>

                        <input type="radio" name="isMale" id="female" th:field="*{isMale}" value="false" autocomplete="off" disabled>
                        <label for="female"><i class="fa-solid fa-venus"></i> Nữ</label>
                    </div>
                </div>
                <div>
                    <label th:for="address">Địa chỉ</label>
                    <input th:field="*{address}" readonly>
                </div>
                <div>
                    <label th:for="username">Tên đăng nhập</label>
                    <input th:field="*{username}" readonly>
                </div>
                <div>
                    <a th:href="@{/user/edit}">Cập nhật</a>
                    <a th:href="@{/flash-card-sets}">Thoát</a>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script th:if="${message}" th:inline="javascript">
        Toastify({
            text: [[${message}]],
            duration: 3000,
            gravity: "top",
            position: "right",
            stopOnFocus: true,
            style: {
                background: "#198754",
                zIndex: 9999,
                boxShadow: "0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)"
            }
        }).showToast();
    </script>
</body>
</html>